user_uuid="1932d70d-9216-4ea4-80b1-74c2ba36d654"
bucket_name="6h8vd0xuyglehmex7eq12uln1vfgqto5"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"